{% load static %}

<html>
<html>
<head>
    <title>Video Collection</title>
    <link rel="stylesheet" href="https: //cdn.isdelivr.net /npm/water.css@2/out/light.css"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>

</body>

    {% block content %}
    {% endblock %}

    <hr>

        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'video_list' %}">Video List</a>
            <a href="{% url 'add_video' %}">Add Video</a>
        </div>

    </body>

</body>
</html>